@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-background: #219C90;
    --cor-header: #E9B824;
    --cor-footer: #EE9322;
    --cor-letter: #D83F31;
}
* {
    margin: 0;
    border: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-background);
    color: var(--cor-letter);
}
.header {
    background-color: var(--cor-header);
    padding: 1% 15%;
    position: sticky;
    top: 0;
}
.header__block{
    display: flex;
    gap: 7%;
}
.header__block__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: var(--cor-letter);
    text-decoration: none;
}
.content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
}
.content__firstblock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
}
.content__firstblock__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background: white;
    aspect-ratio: 16/9;
    border: 2px dashed;
    cursor: pointer;
}

.content__firstblock__picture:hover {
    background: #eeeeee;
}
.content__firstblock__picture__input {
    display: none;
}
.content__secondblock {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 5% 15%;
}
.content__thirdblock {
    display: flex;
    flex-direction: column;
    padding: 5% ;
    gap: 50px;
}
.content__thirdblock__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background: white;
    aspect-ratio: 16/9;
    border: 2px dashed;
    cursor: pointer;
}
.content__thirdblock__picture:hover {
    background: #eeeeee;
}
.content__thirdblock__picture__input {
    display: none;
}
.content__thirdblock__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}